---
import Nav from "../components/Nav.astro";
import { getCurrentUser, getRecentPosts } from "../scripts/supabaseClient";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

// show signin screen if user is not authenticated
if (!(accessToken && refreshToken)) {
  return redirect("/signin");
}

// if (!user) {
//   return Astro.redirect("/signin");
// }
---

<!doctype html>
<html lang="en" class="relative">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-900 text-gray-100 min-h-screen">
    <Nav />
    <slot />
  </body>
  <footer class="bg-gray-800 py-8 ">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <p class="text-center text-gray-400">
        &copy; 2025 Artistry. All rights reserved.
      </p>
    </div>
  </footer>
</html>
